/* Import Font and Icons */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Variables */
:root {
    --dis-primary: #6500FF;
    --dis-secondary: gray;
    --dis-badge-bg: #E3E3E3;
    --dis-white: #fff;
    --dis-black: #000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Setup */
body,
button {
    font-family: "Inter Tight", sans-serif;
}

/* #region Debug Rules */
.debug {
    border: 1px dashed red;
}

.debug-mobile {
    width: 512px;
}

/* #endregion Debug Rules */

/* Toggles */

.toggle-container {
    display: flex;
    align-items: center;
    box-sizing: content-box;

    gap: 0.5rem;

    color: var(--dis-secondary);
}

.toggle {
    width: 2.5rem;

    display: inline-block;
    border-radius: 1rem;
    border: 2px solid var(--dis-secondary);
}

.toggle::after {
    content: "";

    width: 1.2rem;
    height: 1.2rem;

    display: block;

    border-radius: 50%;
    outline: 2px solid var(--dis-secondary);

    background-color: var(--dis-white);
}

.toggle.active {
    border: 2px solid var(--dis-black);

    background-color: var(--dis-black);
}

.toggle.active::after {
    translate: 100% 0;

    outline: 2px solid var(--dis-black);
}

/* #endregion Toggles */

/* #region Header */

.app-header {
    padding: 2.5rem;
}

.app-header>p {
    color: var(--dis-secondary);
}

.toolbar {
    display: flex;
    justify-content: flex-end;

    gap: 1rem;

    margin-top: 1.5rem;
}

/* #endregion Header */

/* #region Main */

main {
    padding: 3rem 2.5rem 3rem 2.5rem;
}

.plan-card {
    padding: 3rem 2rem;

    margin-bottom: 2rem;

    border-radius: 1.5rem;

    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.185);
}

.plan-card>.card-header>h2 {
    font-size: 2rem;
}

.plan-card>.card-header>p,
.plan-card>.price-tag>span {
    color: var(--dis-secondary);
}

.plan-card>.price-tag {
    text-align: center;

    margin-top: 3rem;

    font-size: 1.3rem;
}

.plan-card>.price-tag>h3 {
    display: inline;

    font-size: 4rem;
}

.plan-card>.discount-container {
    margin-top: 2rem;

    text-align: center;
}

.discount-container>.discount-badge {
    padding: 0.3rem 0.7rem;

    border-radius: 0.7rem;

    background-color: var(--dis-badge-bg);

    color: black;
}

.plan-card>button {
    background: none;
    border: none;

    width: 100%;

    padding: 1.3rem;

    margin-top: 2rem;

    border-radius: 1rem;

    font-size: 1rem;
    font-weight: 600;

    background-color: var(--dis-primary);
    color: var(--dis-white);
}

.plan-card>ul {
    list-style: none;

    margin-top: 2rem;

    font-size: 18px;
}

.plan-card>ul>li {
    display: flex;
    align-items: center;

    gap: 1rem;

    margin-top: 1rem;
}

.plan-card>ul>li>i {
    font-size: 1.5rem;
}

.plan-card.higlighted {
    color: var(--dis-white);
    background-color: var(--dis-primary);
}

.plan-card.higlighted>.card-header>p,
.plan-card.higlighted>.price-tag>span {
    color: var(--dis-white);
}

.plan-card.higlighted>button {
    background-color: var(--dis-white);
    color: var(--dis-primary);
}

/* #endregion Main */