/* Import Font and Icons */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --dis-primary: #6500FF;
    --dis-secondary: gray;
    --dis-badge-bg: #E3E3E3;
    --dis-white: #fff;
    --dis-black: #000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Setup */
body,
button {
    font-family: "Inter Tight", sans-serif;
}

/* #region Debug Rules */
.debug {
    border: 1px dashed red;
}

.debug-mobile {
    width: 512px;
}

/* #endregion Debug Rules */

/* Toggles */

.toggle-container {
    display: flex;
    align-items: center;
    box-sizing: content-box;

    gap: 0.5rem;

    color: var(--dis-secondary);
}

.toggle {
    width: 2.5rem;

    display: inline-block;
    border-radius: 1rem;
    border: 2px solid var(--dis-secondary);

    cursor: pointer;
}

.toggle::after {
    content: "";

    width: 1.2rem;
    height: 1.2rem;

    display: block;

    border-radius: 50%;
    outline: 2px solid var(--dis-secondary);

    background-color: var(--dis-white);
}

.toggle.active {
    border: 2px solid var(--dis-black);

    background-color: var(--dis-black);
}

.toggle.active::after {
    translate: 100% 0;

    outline: 2px solid var(--dis-black);
}

/* #endregion Toggles */

/* #region Header */

.app-header {
    padding: 2.5rem;
}

.app-header>p {
    color: var(--dis-secondary);
}

.toolbar {
    display: flex;
    justify-content: flex-end;

    gap: 1rem;

    margin-top: 1.5rem;
}

/* #endregion Header */