/* Import Font and Icons */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --dis-primary: #6500FF;
    --dis-secondary: gray;
    --dis-badge-bg: #E3E3E3;
    --dis-white: #fff;
    --dis-black: #000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Setup */
body,
button {
    font-family: "Inter Tight", sans-serif;
}

/* #region Debug Rules */
.debug {
    border: 1px dashed red;
}

.debug-mobile {
    width: 512px;
}